* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#frmlogin{
    height: 150px;
    width: 300px;
    background-color: #e8eced;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
}

